<aside class="main-sidebar sidebar-primary elevation-4">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i><br>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/vendor-finance" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-users"></i><br>
                        <p>Venor Finanace</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/dealer-finance" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-users"></i><br>
                        <p>Dealer Finance</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-headphones"></i><br>
                        <p>Customer Support</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
